* {
    margin: 0;
    padding: 0;
}

body {
   background: url(https://www.rabstol.net/uploads/gallery/comthumb/519/rabstol_net_sunset_13.jpg) no-repeat;
   -moz-background-size: 100%; /* Firefox 3.6+ */
   -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
   -o-background-size: 100%; /* Opera 9.6+ */
   background-size: 100%; /* Современные браузеры */
}

.containerposition {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.container1 {
    width: 400px;
    height: 600px;
    background-color: aliceblue;
    border-radius: 5px;
}

.containerpadding {
    padding: 30px;
}

h1, h2, p {
    text-align: center;
}

button {
    width: 100%;
    margin-top: 7px;
}

i {
    margin-right: 5px;
}

a {
    text-decoration: none;
}

